

.Content {
    width: 200px;
    text-align: left;
    position: relative;
    left:80px;
    box-sizing: border-box;
    margin-left: 450px;
    border-color: red;
}

.bordered {
    box-sizing: border-box;
   
}

.h1 {
    margin-left: 400px;
  
}