.Post {
    width: 200px;
    text-align: left;
    position: relative;
    left:80px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 450px;
}

.tr {
    padding-top: 100px;
}

.td
{
  padding-top: 10px;
  padding-bottom: 10px;
  width:150px;
}