
.Photo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 10px;
}

.Photo img {
    height: 100%;
    max-height: 200px;
    padding-left: 300px;
    padding-top:  10px;
}
